html {
  margin: 0;
  scroll-behavior: smooth;
  background: radial-gradient(ellipse at center, rgba(17, 47, 116, 0.052) 0%, rgba(0, 0, 0, 0) 100%);
}

#darkMode {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;

  /* width: 50px; */
  font-size: 20px;
}

#darkMode::before {
  content: "\f186";
  font-family: "FontAwesome", Impact, 'Arial Narrow Bold', sans-serif;
  padding-right: 5px;
}

#darkMob {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;

  /* width: 50px; */
  font-size: 20px;
}

#darkMob::before {
  content: "\f186";
  font-family: "FontAwesome", Impact, 'Arial Narrow Bold', sans-serif;
  padding-right: 5px;
}

.head1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  gap: 58px;
  position: relative;
  height: 100vh;
  top: 10%;
  background-image: url('./Assets/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  filter: none;
}

h2 {
  color: rgb(27, 161, 45);
  font-size: 40px;
  text-shadow: 2px 0 2px;
}

.h12 {
  color: rgb(27, 161, 45);
  text-shadow: 2px 0 2px;
}

h1 {
  text-shadow: 2px 0 2px;
  font-style: normal;
  font-weight: bolder;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
  padding-top: 20px;
}

html,
body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.logo {
  display: flex;
  padding: 10px 12px;
  flex-wrap: wrap;
  width: 114px;
  height: 48px;
  left: 12px;
  font-size: 25px;
}

.logo img {
  width: 50%;
  max-width: 60%;
}

.mnu {
  display: flex;
  width: 50%;
  float: left;
  justify-content: right;
  font-size: 40px;
}

.topnav {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: #3a4a42;
  padding: 14px 16px;
  font-size: 32px;
  display: block;
}

.topnav .icon {
  display: none;
}

.para {
  color: rgb(59, 55, 55);
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 95%;
}

.social {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 50%;
  font-size: 45px;
  justify-content: center;
  padding-right: 40px;
}

.social li {
  padding-inline-end: 10%;
}

.fa {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
  font-size: 30px;
  width: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #505f79;
}

.fa:active {
  color: #00834c;
}

#see-project-btnPop {
  display: flex;
  flex-direction: row-reverse;
}

.work1 {
  display: grid;
  grid-column-start: 2;
  grid-row-end: 4;
  width: 100%;
  height: 400px;
  position: relative;
  justify-items: center;
}

.lang {
  display: flex;
  flex-direction: row;
  padding: 0%;
  max-width: 350px;
  margin: 10px;
}

.languagesPopW {
  display: flex;
  flex-direction: row;
  padding: 0%;
  max-width: 350px;
  margin: 10px;
}

.lang2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding-left: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.l1,
.l2,
.l3,
.l4 {
  background-color: #ebf0ee;
  list-style: none;
  box-sizing: border-box;
  border-radius: 8px;
  color: #3a4a42;
  border: none;
  padding-block-end: 10px;
  margin-inline-start: 10px;
  font-size: 12px;
  padding: 10px;
  inline-size: 35%;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  box-shadow: 2px 2px 2px 0 rgb(0 0 0 / 50%);
}

.popUp {
  left: 50%;
  top: 50%;
  transform: translate(-49%, -49%);
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: fixed;
  background: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  z-index: 1;
  border: #d6d6d6 solid 1px;
  border-radius: 15px;
  align-content: stretch;
}

.rest {
  transition: all 0.3s ease-in-out;
}

.lr {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 35px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  color: #36b37e;
  padding-inline: 5px;
}

.lc {
  background-color: #fff;
  list-style: none;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 10%;
  color: #36b37e;
  border: none;
  padding-block-end: 10px;
  font-size: 12px;
  padding-top: 8px;
  inline-size: 20%;
}

.lj {
  background-color: #fff;
  list-style: none;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 10%;
  color: #36b37e;
  border: none;
  padding-block-end: 10px;
  font-size: 12px;
  padding-top: 8px;
  inline-size: 30%;
}

.lh {
  background-color: #fff;
  list-style: none;
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 10%;
  color: #36b37e;
  border: none;
  padding-block-end: 10px;
  font-size: 12px;
  padding-top: 8px;
  inline-size: 26%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.button {
  width: 70px;
  height: 30px;
  background-color: lightgray;
  border: none;
  outline: none;
  margin: 5px;
  font-size: 14px;
  text-align: center;
}

.see {
  color: azure;
  top: 50%;
  background-color: #36b37f;
  border: none;
  padding-block-end: 10px;
  font-size: 15px;
  padding: 10px;
  padding-top: 8px;
  border-radius: 7px;
  height: 50px;
  width: fit-content;
}

.seePop {
  color: azure;
  top: 50%;
  background-color: #36b37f;
  border: none;
  padding-block-end: 10px;
  font-size: 15px;
  padding-top: 8px;
  border-radius: 7px;
  height: 50px;
  width: fit-content;
}

.close-popUp {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

#imagePopUp {
  width: 80vw;
}

#see-project-btn-Pop {
  display: flex;
  width: 180px;
  margin: 10px;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}

#imageCloseBtn {
  display: flex;
  flex-direction: row-reverse;
}

.see:hover {
  background-color: #00834c;
  transition: 0.7s;
  box-shadow:
    0 4px 8px 0 rgba(49, 181, 9, 0.2),
    0 6px 20px 0 rgba(14, 175, 49, 0.19);
}

.see:active {
  background-color: #008552;
  transition: 0.7s;
}

#buttonsLive {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.seeLivebtn::before {
  content: "\f09b";
  font-family: "FontAwesome", Impact, 'Arial Narrow Bold', sans-serif;
}

.seeLivebtn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 38vw;
  height: 6vh;
  font-size: 22px;
  justify-content: space-evenly;
  align-content: center;
  background-color: #36b37f;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
}

.seeSourcebtn::before {
  content: "\f08e";
  font-family: "FontAwesome", Impact, 'Arial Narrow Bold', sans-serif;
}

.seeSourcebtn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 42vw;
  height: 6vh;
  font-size: 22px;
  justify-content: space-evenly;
  align-content: center;
  background-color: #36b37f;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  margin-left: 2px;
}

.seeSourcebtn:hover {
  background-color: #091e42;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.seeLivebtn:hover {
  background-color: #091e42;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#awbooks {
  width: 350px;
  border-radius: 10px;
}

.noUline {
  text-decoration: none;
}

.glow {
  text-shadow: 0 0 5px #0fd72a;
  border-radius: 100%;
  margin: 5px;
}

.getres {
  color: azure;
  background-color: #36b37f;
  border: none;
  padding-block-end: 10px;
  font-size: 15px;
  padding-top: 8px;
  border-radius: 7px;
  height: 50px;
  width: 150px;
  margin: auto;
}

.getres:hover {
  background-color: #36b37f;
  transition: 0.7s;
  box-shadow:
    0 4px 8px 0 rgba(49, 181, 9, 0.2),
    0 6px 20px 0 rgba(14, 175, 49, 0.19);
}

.getres:active {
  background-color: #008552;
  transition: 0.7s;
}

.multi {
  font-size: 24px;
}

.allw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #ebf0ee 3px solid;
  background-color: white;
  border-radius: 10px;
  width: 98%;
  padding-block-start: 10px;
  margin-bottom: 20%;
  padding-block-end: 5%;
  max-width: 350px;
  box-shadow: 10px 10px 11px 0 rgba(0, 0, 0, 0.5);
}

.allw2 {
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #ebf0ee 3px solid;
  border-radius: 10px;
  width: 98%;
  padding-block-start: 10px;
  margin-bottom: 20%;
  padding-block-end: 5%;
  max-width: 350px;
}

.languages {
  background-color: #ebf0ee;
  border: #ebf0ee 3px solid;
  border-radius: 10px;
  position: relative;
  margin-block-end: 24px;
  margin-block-start: 24px;
}

.frame {
  flex-wrap: wrap;
  background-color: #ebf0ee;
  border: #ebf0ee 3px solid;
  border-radius: 10px;
  position: relative;
  margin-block-end: 24px;
  margin-block-start: 24px;
}

.fr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline-end: 10px;
  padding-inline-start: 20px;
}

.frame,
.languages {
  width: 375px;
  position: relative;
  text-align: center;
  max-width: 350px;
}

.frame li {
  margin-bottom: 10px;
}

.recent-abt {
  display: grid;
}

.aboutme {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-image:
    url(./Assets/Frame.png),
    url(./Assets/about-me-mobile\ RU.png);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
}

.endp {
  display: flex;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input[type='text'],
input[type='email'] {
  font-family: 'inter', sans-serif;
  width: 100%;
  padding-block: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
  color: #6b778c;
  font-size: 15px;
}

textarea {
  font-family: 'inter', sans-serif;
  width: 100%;
  border: 1px solid #60c095;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 0;
  resize: vertical;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

::-webkit-input-placeholder {
  text-align: left;
  padding-inline-start: 15px;
  padding-top: 10px;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border: 1px solid green;
}

.getintouch {
  color: azure;
  background-color: #36b37f;
  border: none;
  padding-block-end: 10px;
  padding-top: 8px;
  border-radius: 7px;
  height: 48px;
  width: 130px;
  margin: auto;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.getintouch:hover {
  background-color: #36b37f;
  transition: 0.7s;
  box-shadow:
    0 4px 8px 0 rgba(49, 181, 9, 0.2),
    0 6px 20px 0 rgba(14, 175, 49, 0.19);
}

.getintouch:active {
  background-color: #008552;
  transition: 0.7s;
}

#contact_form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 24px;
}

.social_form {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 45px;
  justify-content: center;
  padding-right: 20px;
  margin-top: -70px;
}

.social_form li {
  padding-inline-end: 10%;
}

.eaddress {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  padding-top: 20px;
  padding-bottom: 250px;
}

/* --------dropdown menu---------- */
#myLinks {
  display: none;
  transition: all 0.3s ease-in-out;
}

.topnav #myLinks {
  display: none;
  flex-direction: column;
  height: 100vh;
  border-bottom: #d6d6d6 2px solid;
  border-radius: 20px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10vh;
}

.topnav a.icon {
  display: block;

  /* position: absolute;
  right: 0;
  top: 0; */
}

.topnavdt {
  display: none;
}

.projectImage {
  width: 80vw;
  border-radius: 10px;
  justify-content: center;
}

.p {
  margin: 20px;
  text-align: left;
}

.see2 {
  color: azure;
  top: 50%;
  background-color: #36b37f;
  border: none;
  padding-block-end: 10px;
  font-size: 20px;
  padding: 10px;
  padding-top: 8px;
  border-radius: 7px;
  height: 50px;
  width: 40vw;
}

.h33 {
  text-align: left;
  margin: 20px;
  font-size: 30px;
}

.scroll {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media only screen and (min-width: 770px) {
  .recent-abt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    box-sizing: border-box;
    width: 90vw;
    padding: 10px;
    block-size: fit-content;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
  }

  .recent-fr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    box-sizing: border-box;
    width: 90vw;
    padding: 10px;
    block-size: fit-content;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
  }

  .allw {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 90%;
  }

  .recent-fr .allw {
    background-color: #ebf0ee;
  }

  .frame,
  .languages {
    width: 450px;
    position: relative;
    text-align: center;
    max-width: 90%;
  }

  .frame img {
    width: 90%;
  }

  .languages img {
    width: 90%;
  }

  .allw img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    transition: all 0.2s ease;
  }

  .allw img:hover {
    transform: scale(1.1);
  }

  .head1 {
    background-image: url('./Assets/background_desktop.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: none;
  }

  .social {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
    font-size: 55px;
    justify-content: center;
    padding-right: 40px;
  }

  .para {
    width: 60%;
  }

  .aboutme {
    max-width: 90%;
    background-image: url(./Assets/about_me_desktop.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .aboutme p {
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    width: 70%;
    overflow: hidden;
  }

  .langframe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    box-sizing: border-box;
    padding: 10px;
    block-size: fit-content;
    align-items: stretch;
    justify-items: center;
    justify-content: space-evenly;
  }

  .langframe img:hover {
    transform: scale(1.3);
    transition-duration: 0.2s;
  }

  .imagePopUp {
    display: flex;
    width: 500px;
  }

  .lr {
    width: fit-content;
    display: grid;
    grid-column-start: 2;
    grid-row-end: 4;
    background-color: #fff;
    list-style: none;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 8px;
    color: #36b37e;
    border: none;
    padding-block-end: 10px;
    font-size: 14px;
    padding-top: 8px;
    white-space: nowrap;
    padding-inline: 8px;
  }

  .endp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-right: 150px;
    background-image:
      url(./Assets/contact-desktop-L.png),
      url(./Assets/contact-desktop-R.png);
    background-position: bottom left, right;
    background-repeat: no-repeat;
    border-bottom: 1px #dfe1e6 solid;
  }

  textarea {
    height: 114px;
    width: 550px;
  }

  .endp h3 {
    display: none;
  }

  .endp p {
    font-size: 30px;
    max-width: 30%;
  }

  input[type='text'],
  input[type='email'] {
    height: 48px;
    padding: 0;
    width: 550px;
  }

  #contact_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 24px;
    padding-bottom: 20%;
  }

  .topnav {
    display: none;
    flex-direction: row;
  }

  .mnu {
    display: none;
  }

  .snapshot {
    width: 100%;
  }

  .eaddress {
    display: none;
  }

  .getintouch {
    float: left;
  }

  p:hover {
    padding-top: 10px;
    transition-duration: 0.2s;
  }

  h1:hover {
    font-size: 50px;
    transition-duration: 0.2s;
  }

  h2:hover {
    padding-right: 25px;
    transition-duration: 0.2s;
  }

  li:hover {
    transform: scale(1.3);
    transition-duration: 0.2s;
  }

  .topnavdt {
    position: fixed;
    border-bottom: 1.5px solid;
    display: flex;
    background-color: white;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    align-content: flex-start;
    width: 100vw;
    z-index: 1;
  }

  .myLinksdt a {
    font-size: 20px;
    text-decoration: none;
  }

  .myLinksdt a,
  .myLinksdt a:visited,
  .myLinksdt a:active {
    color: inherit;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .popUp {
    display: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
      "imageCloseBtn imageCloseBtn imageCloseBtn"
      "imageCloseBtn imageCloseBtn imageCloseBtn"
      "rest rest rest";
    justify-items: center;
    width: 35vw;
    height: 90vh;
  }

  .imageCloseBtn {
    grid-area: imageCloseBtn;
    align-items: baseline;
    justify-items: end;
  }

  .rest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0fr 2.3fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
      "h3 h3 buttonsLive"
      "lang lang ."
      "p p p";
    grid-area: rest;
  }

  .h3 {
    grid-area: h3;
    font-size: 12px;
  }

  .buttonsLive {
    grid-area: buttonsLive;
    font-size: 12px;
    margin-right: 15px;
  }

  .p {
    grid-area: p;
    font-size: 10px;
    margin: 20px;
  }

  .projectImage {
    padding-bottom: 10px;
    padding-top: 30px;
    width: 32vw;
    justify-content: center;
    margin: 20px;
  }

  #see-project-btnPop {
    display: flex;
    flex-direction: row-reverse;
  }

  .see2 {
    color: azure;
    top: 50%;
    background-color: #36b37f;
    border: none;
    padding-block-end: 10px;
    font-size: 15px;
    padding: 10px;
    padding-top: 8px;
    border-radius: 7px;
    height: 40px;
    width: 120px;
  }

  .seeLivebtn {
    width: 80px;
    height: 33px;
    font-size: 12px;
  }

  .seeSourcebtn {
    width: 90px;
    height: 33px;
    font-size: 12px;
  }

  .h33 {
    font-size: 20px;
  }

  .l1,
  .l2,
  .l3,
  .l4 {
    inline-size: auto;
  }

  #darkMode {
    font-size: 25px;
  }
}

a:focus {
  color: #36b37f;
}

a:hover {
  color: #36b37f;
}

#navButton:hover {
  color: #36b37f;
  border: 2px solid #36b37f;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
